ol {
  margin: 0;
  padding: 0;
}

.xmodule_display.xmodule_VideoModule .video{
  margin: 0;
  padding: 0;
}

.wrapper-xblock{
  .xblock-header-secondary{
    .meta-info{
      width: auto;
    }
    .actions-list{
      width: auto;
    }
  }

  .xblock-header-primary{
    position: relative;

    .header-details{
      width: auto;
      max-width: 30%;
    }
    .header-actions{
      width: auto;
      max-width: 70%;
      position: absolute;
      right: 10px;
    }
  }
}

.course-wrapper .course-content .vert-mod .vert>.xblock-student_view{
  border-bottom: 0;
  margin-bottom: 0;
}
