.xblock--nesting--editor{
  margin-bottom: 0 !important;
}

.xblock-content {
  height: 375px;
  overflow-y: scroll;
}

.hidden{
    display: none;
  }
.predefined-styles, .default-templates{
  min-width: 250px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  box-sizing: border-box;
}

.predefined-styles{
  width: 20%;

  .input-container{
    margin: 10px 0;
    position: relative;
    min-height: 30px;

    .input-title{
      text-transform: capitalize;
    }

    input{
      width: 100px;
      box-sizing: border-box;
      background-color: #f2f2f2;
      background-image: -webkit-linear-gradient(#f2f2f2,#fff);
      background-image: linear-gradient(#f2f2f2,#fff);
      padding: 6px 8px 8px;
      border: 1px solid #b2b2b2;
      border-radius: 2px;
      background-color: #f2f2f2;
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      font-family: 'Open Sans', sans-serif;
      color: #4c4c4c;
      outline: 0;
      position: absolute;
      right: 0;
      height: 30px;
    }
  }
}


.default-templates{
  width: calc(80% - 10px);

  h2{
    padding: 10px 0;
  }

  .template-title{
    text-transform: capitalize;
  }

  .template-container{
    display: inline-block;
    max-width: 200px;
    padding: 10px;
    box-sizing: border-box;

    .add-template-btn{
      width: 100%;
      padding: 5px 10px;
      background-color: #cbcbcb;
      border-radius: 3px;
      box-sizing: border-box;
      text-transform: capitalize;
      cursor: pointer;
      text-align: center;
    }
  }

  .template-image{
    max-width: 200px;
    width: 100%;
  }
}

.no-display{
  display: none !important;
  background-color: green;
}

.xblock-actions {
  padding: 15px 0 10px 0!important;
}
