{% load i18n %}

<div class="xblock--nesting--editor editor-with-buttons">

  <div class="xblock-content">
  
    <div class="predefined-styles">
      <div class="input-container">
        <span class="input-title">{% trans "Width (%)" %}</span>
        <input id="width" type="number" value="{{ width }}" />
      </div>
      {% for key, value in styles.iteritems %}
        <div class="input-container">
          <span class="input-title">{{ key }}</span>
          <input data-style="{{ key }}" type="text" value="{{ value }}" />
        </div>
      {% endfor %}
    </div>
    
  </div>

  <div class="xblock-actions">
    <span class="xblock-editor-error-message"></span>
    <ul>
      <li class="action-item hidden">
        <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
      </li>
    </ul>
  </div>
</div>
